*
{ 
margin:0;
padding:0;
}
body
{
	background-color:#00994d;
}
.card
{
	background-color:#66ff66;
}
.navbar
{
	background-color:#004d1a;
}

.carousel-item img
{
    height:500px;
}
.mylogin
{ 
  margin: 40px auto;
  width:45%;
  border:2px solid black;
  padding:20px;
  background-color: rgba(0,0,0, 0.4);
  color:white;
}
@keyframes example 
{
  from {background-color:#00993d;}
  to {background-color: #00cc52;}
}
#welcome 
{
	animation-name: example;
    animation-duration:0.5s;
	animation-iteration-count: infinite;
    background-color:#007E33;
    color:black;
	text-align:center;
	font-style:italic;
	font-size:80px;
	font-family:georgian;
	margin:5px;
	
}
.row
{
	margin:0;
}
.heading1
{ 
text-align:center;
color:white;
font-family:georgian;
}
.heading
{ 
text-align:center;
color:black;
text-decoration:underline;
font-family:georgian;
}

.caption p
{
	color:white;
}	
.content-text
{
	color:black;
	font-family:georgian;
	font-size:20px;
}

.signinPage
{
	background:url(pic/k15.png) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#emailHelp
{
	color:red;
}
.mainimg
{
	height:300px;
	width:75%;
}

.distImg
{
	width:100%;
	height:200px;
}
.distDiv
{
	border:2px solid black;
	margin:10px;
	padding:10px;
	box-shadow:0 0 0 2px rgba(0,0,0,0.3);

}
.cardstyle
{
	height:500px;
	overflow:scroll;
	
}
.mymargin
{
	margin-top:20px;
	margin-bottom:20px;
}
.maindiv
{
	
	padding:10px;
	
}	
